body{
  margin: 0;
}

/*navigation bar*/
.header-navigation{
  display: flex;
  flex-direction: row;
  margin: 2rem 10rem;
}

.left{
  flex-grow: 2;
}

.navigation-link{
  margin:0 2rem;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  color: black;
}

.navigation-link:hover{
  text-decoration: underline;
  animation-duration: 0.8s;
  color: black;
}

.blackBorder{
  background-color: black;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  font-family: 'Karla', sans-serif;
  margin-left: 2rem;
}

.blackBorder:hover{
  background-color: #fff;
  animation-name: changingBlack;
  color: black;
  animation-duration: 0.8s;
  border-color: black;
  border-style: solid;
  border-width: thin;
}

@keyframes changingBlack {
  from{background-color: black;}
  to{background-color: white;}
}




/*first page*/

.first-page{
  display: flex;
  position: relative;
  background-color: hsl(256, 26%, 20%);
}

.first-line{
  width: 15rem;
  margin-left: 10rem;
}

.first-page-header, .first-page-description{
  color: #fff;
}

.first-page-header{
  font-family: 'DM Serif Display', serif;
  font-size: 4rem;
  margin-bottom: 0;
  padding: 0 20rem 0 10rem;
}

.first-page-description{
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  padding: 0 20rem 0 10rem;
}

.first-page-button{
  width: 10rem;
  height: 2.5rem;
  background-color: hsl(256, 26%, 20%);
  color: #fff;
  margin-left: 10rem;
}

.first-page-button:hover{
  color: hsl(256, 26%, 20%);
  background-color: #fff;
  animation-name: changingColor;
  animation-duration: 0.8s;
  font-family: 'Karla', sans-serif;
}

.first-left{
  padding-top: 5rem;
  flex-grow: 1;
}

.first-right{
  flex-grow: 1;
}

.intro-pattern{
  position: relative;
  z-index: 1;
}

.first-page-img{
  position: absolute;
  top: 10rem;
  right: 10rem;
}


.first-second-image{
  position: absolute;
  top: 35rem;
}
/*second pages*/

.second-line{
  margin-top: 0;
  width: 15rem;
  margin-left: 0;

}

.second-page{
  padding: 14rem 10rem 0 10rem;
  margin-bottom: 10rem;
}


.second-page-header{
  font-family: 'DM Serif Display', serif;
  font-size: 4rem;
}

  /*for features in second page*/

.features{
  display: flex;
  justify-content: center;
}

.snappy-process, .affordable-prices, .people-first{
  padding: 0 2rem;
}

.features-header{
  font-family: 'DM Serif Display', serif;
}

.features-description{
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
}



/*for the third page*/
.find-more{
  display: flex;
  align-items:center;
  margin: 10rem;
  padding: 1.5rem 8rem 2.9rem 8rem;
  background-color: hsl(256, 26%, 20%);

}

.find-more-left{
  font-size: 1.6rem;
  font-family: 'DM Serif Display', serif;
  color: #fff;
  padding-right: 10rem;
}

.find-more-button{
  width: 10rem;
  height: 2.5rem;
  font-family: 'Karla', sans-serif;
  color: #fff;
  background-color: hsl(256, 26%, 20%);
  position: relative;
  z-index: 1;
}

.find-more-button:hover{
  background-color: #fff;
  color: hsl(256, 26%, 20%);
  animation-name: changingColor;
  animation-duration: 0.8s;
}

@keyframes changingColor {
  from{background-color: hsl(256, 26%, 20%);}
  to{background-color: #fff;}
}


.find-more-right-img{
  position: absolute;
  top: 93.5rem;
  right: 10rem;
}

/*for social media features*/
.social-media{
  display: flex;
  margin: 0 10rem;
}

.social-medias-left{
  flex-grow: 1;
}

.social-media-underline{
  margin: 2rem 10rem;
}

.social-media-icon{
  margin: 0 0.5rem;
  color: gray;
}

.social-media-icon:hover{
  color: black;
  transition-duration: 0.5s;
}

/*belo social media*/
.below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10rem;
}


.below-left, .below-left-after, .below-right-after, .below-right{
  display: flex;
  height: 15rem;
  flex-direction: column;
}

.below-link{
  padding-bottom: 0.5rem;
  text-decoration: none;
  color: black;
  font-family: 'Karla', sans-serif;
}

.below-link:hover{
  text-decoration: underline;
}



@media(max-width:1920px){
  .first-page-description{
    padding-right: 35rem;
  }

  .find-more{
    padding: 4rem 8rem 4rem 8rem;
  }

  .find-more-right-img{
    top: 91.5rem;
  }
}

@media(max-width:1792px){
  .find-more-right-img{
      top: 93rem;
  }
}

@media(max-width:1696px) and (min-width:1693px){
.find-more-left{
  padding-right: 5rem;
}

}


@media(max-width:1694px) {
  .find-more-left{
    padding-right: 5rem;
  }
}

@media(max-width:1616px){
  .find-more{
    padding-left: 5rem;
    padding-right: 5rem;
}
  }
}

@media(max-width:1595px){
  .first-page-description{
    padding-right: 25rem;
  }
}

@media(max-width:1520px){
  .find-more-left-header{
    font-size: 2.5rem;
  }

  .find-more{
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  .find-more-right-img{
    top: 92.8rem;
  }
}

@media(max-width:1434px){
  .find-more-right-img{
    top: 94.2rem;
  }
}

@media(max-width:1378px){
  .first-page-header{
    font-size: 3.5rem;
    padding-right: 13rem;
  }

  .first-page-description{
    padding-right: 20rem;
  }
  .first-page-img{
    width: 30rem;
  }

  .find-more{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .find-more-left-header{
    font-size: 2.2rem;
  }
}

@media(max-width:1300px){
  .first-page-img{
  right: 4rem;
}

  .first-page-description{
    padding-right: 15rem;
  }
}

@media(max-width: 1270px){
  .find-more-left-header{
    font-size: 2rem;

  }

  .find-more{
    padding-top: 5.3rem;
    padding-bottom: 5.3rem;
  }

  .find-more-left{
    padding-right: 0;
  }

  .find-more-button{
    margin-left: 6rem;
  }
}


@media(max-width:1236px){
  .find-more{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media(max-width:1212px){
  .find-more-right-img{
    top: 95.8rem;
  }
}

@media(max-width:1208px){
    .first-page-header{
      padding-right: 7rem;
    }

    .first-page-description{
      padding-right: 11rem;
    }

    .find-more-left-header{
      padding-right: 5rem;
    }
}

@media(max-width:1201px){

}
